<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--Section Foto de perfil-->
        <section>
            <img src="R.jfif" alt="Imagem de perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            Jefferson Monteiro | 20 Anos | @jeff.silva_1400 | <br>
            &nbsp;&nbsp; monteiro.jefferson@outlook.com | Aquario
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mysite.html">Eu e Eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
            <hr>
    </nav>
    <article>
        <h3>Peaky Blinder</h3>
        <h5>curto: 5/5</h5>
        <p>
            <img src="OI.jfif" alt="Imagem de perfil" height="100px" width="100px">  
        </p>
        <p>
         
            <strong>Peaky Blinder</strong>
            sobre jovens ingleses depois da guerra<br>
            que ficaram triste e sem emprego e daí começaram<br>
            a causar confusão até se emvolverem com crime!
        </p>
            <p>
                para conhecer mais <a href="">Clique aqui</a>
            </p>
    </article>
    <h3>Homen de ferro</h3>
    <h5>curto: 4/5</h5>
    <p>
        <img src="OIP.jfif" alt="Imagem de perfil" height="100px" width="100px">   
    </p>
     <strong>Homen de Ferro</strong>
     é um filme estadunidense de super-herói de 2008 baseado no personagem homônimo da Marvel Comics.<br>
      Produzido pelo Marvel Studios e distribuído pela Paramount Pictures,<br>
      [a] é o primeiro filme do Universo Cinematográfico Marvel.<br>
       O filme foi dirigido por Jon Favreau, com um roteiro escrito por Mark Fergus & Hawk Ostby e Art Marcum & Matt Holloway.<br>
        É estrelado por Robert Downey Jr., Terrence Howard, Jeff Bridges, Shaun Toub e Gwyneth Paltrow. No filme, Tony Stark,<br>
         um industrialista e mestre em engenharia, constrói uma armadura superpoderosa e se torna um super-herói tecnologicamente avançado,
          o Homem de Ferro.
          <article>
            <h3>Guardião das Galaxías</h3>
            <h5>curto 5/5</h5>
            <p>
                <img src="OII.jfif" alt="Imagem de perfil" height="100px" width="100px">  
            </p>
            <strong>Guardião das Galaxías</strong>
            é um filme estadunidense de super-herói de 2023 baseado na equipe ficcional de mesmo nome, da Marvel Comics,<br>
             produzido pela Marvel Studios e distribuído pela Walt Disney Studios Motion Pictures. É a sequência de Guardians of the Galaxy (2014) e Guardians of the Galaxy Vol. 2 (2017),<br>
              e o trigésimo segundo filme do Universo Cinematográfico Marvel. O filme é escrito e dirigido por James Gunn e estrelado por Chris Pratt, Zoë Saldaña, Dave Bautista, Karen Gillan, Pom Klementieff, Vin Diesel, Bradley Cooper, Sean Gunn, Chukwudi Iwuji, Will Poulter, Elizabeth Debicki, Maria Bakalova e Sylvester Stallone. No filme, os Guardiões embarcam em uma missão para proteger Rocket do Alto Evolucionário.
          </article>
 <body>
 <html>
