<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--Section Foto de perfil-->
        <section>
            <img src="R.jfif" alt="Imagem de perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            Jefferson Monteiro | 20 Anos | @jeff.silva_1400| <br>
            &nbsp;&nbsp; monteiro.jefferson@outlook.com | Aquario
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Eu e Eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
            <hr>
    </nav> 
    
    <!--aqui começa minha lista-->
    <main>
        <ol>
            <li>Jace - Im Next</li>
            <li>tana - fear no man</li>
            <li>Central Cee Feat.Dave - Sprinter</li>
            <li>Sofaygo Feat.DD Osama - WISH I COULD TELL YOU </li>
            <li>Jryl - Again & Again</li>
            <li>Dom Corleo - Luv Drunk</li>
            <li>Yeat - Feel It</li>
            <li>K Suave - MAKE IT BACK</li>
            <li></li>
            <li></li>
        </ol>
    </main>
    <!--RodaPé-->
    <footer>
        By Jeff Monteiro &copy;
    </footer>
    <body>
    <html>